{
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier", "security"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "@typescript-eslint/no-explicit-any": 2,
    "security/detect-object-injection": 2,
    "trailing-comma": ["off"],
    "no-use-before-define": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "array-callback-return": "off",
    "no-restricted-exports": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": ["off"],
    "eol-last": 0,
    "no-plusplus": "off",
    "consistent-return": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "__typename"] }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.stories.*", "**/.storybook/**/*.*"],
        "peerDependencies": true
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
