@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

.data-nextjs-scroll-focus-boundary {
  margin-top: '100px';
}
